*{
margin:0;
padding: 0;	
}

body{
	font-size: 15px;
	font-family: Arial;
	line-height: 1.7;

}

ul{
list-style-type: none;
padding: 0;
margin:0;
overflow: hidden;
background-color: #778899;
border-bottom: 4px solid orange
}

li{
float: left;
}


li a{
text-decoration: none;
padding: 15px;
text-align: center;
display: block;
color: white;

}

li a:hover{
	background-color: white;
	color: black;
}

#showcase{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-image: url('./Mountain.jpeg');
	background-size: cover;
	background-position: center;
	background-image: url('./Skyline.jpeg');
	height: 100vh;
	background-position: top center;
	background-size: cover;	
	background-repeat: no-repeat;
}


#showcase h1{
		font-size: 50px;
		color: white;
}

#showcase p{
	font-size: 20px;
	color: white;
	font-weight: 500;
}

#showcase a{
	font-size:18px;
	border: 3px solid #778899;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	background-color: #778899;
	margin-top: 10px;
}

#showcase a:hover{
	background-color: white;
	color: black;

}

/*About*/

#showcase-2{
	background-image: url('./Smoke.jpeg');
	min-height:400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: .70;
}



/*#brandCopyright*/footer{
	/*border: 3px solid orange;
	background-color: orange;
	height: 35px;
	text-align: center;
	padding: 20px;
	margin-top: 10px;*/

padding: 20px;
margin-top: 20px;
color: white;
background-color: orange;
text-align: center;
}

aside.sidebar{
	float: right;
	margin-top: 10px;
	width: 30%;
	
}

/*Portfolio Page*/

#portfolioPic1{
	background-image: url('PortfolioPic.jpeg');
	min-height:400px;
	background-position: top center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#portfolioPic1 a{
	border: 3px solid black;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 7px;
	text-decoration: none;
	color: white;
	background-color: black;
}

#portfolioPic1 a:hover{
	background-color: gray;
	color: black;
}



#portfolioPic2{
	background-image: url('SunsetView.jpeg');
	min-height: 400px;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#portfolioPic2 a{
	border: 3px solid black;
	padding: 10px 20px;
	margin-top: 10px;
	text-decoration: none;
	border-radius: 7px;
	background-color: black;
	color: white;
}

#portfolioPic2 a:hover{
	background-color: gray;
	color: white;
}