.navbar-custom{
	border-bottom: 3px solid orange;
	background-color: #5F9EA0;

}

a{
	color: white;
}

body{
	background-color: #D3D3D3;
	font-family: Raleway;
}

.flightPic{
	background: url('https://images.unsplash.com/photo-1476157808914-828d68f0f401?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e02ea7ca2c2629501f32fe2e7ad7625a&auto=format&fit=crop&w=1533&q=80');
	min-height:400px;
	background-position: center;
	margin-top: -20px;
}

.col-lg-4{
	padding: 5px;
	background-color: #D3D3D3;
}

img:nth-of-type(1){
	height:240px;
}

.form-horizontal{
	background-color: ;
}